:root {
  --color-primary: #9391f8ff;

   --color-blue: #0246ffff,
    --color-pink: #f003f8ff,
    --color-hover: #01f7ffff,
    --color-yellow: #d4e919ff,
    --color-green: #4bfa05ad,

  --color-success: #08dd08ff;

  --color-error: #d40019;
}
